server:
  port: 0
spring:
  application:
    name: config-server
  profiles:
    active: native
  output:
    ansi:
      enabled: always
  cloud:
    config:
      server:
        native:
          searchLocations:
            - classpath:config/core/{application}
            - classpath:config/stats/{application}
            - classpath:config/infra/{application}
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/