services:
  postgres:
    image: postgres:16.1
    container_name: graduation-postgres-db
    ports:
      - "6541:5432"
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    volumes:
      - ./init-databases.sql:/docker-entrypoint-initdb.d/init-databases.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d postgres" ]  # Проверка дефолтной БД
      timeout: 5s
      interval: 5s
      retries: 10

  # --- СЕРВЕР ДИСКАВЕРИ (EUREKA) ---
  discovery-server:
    container_name: graduation-discovery-server
    build:
      context: ./infra/discovery-server
    ports:
      - "8761:8761"
    environment:
      - EUREKA_CLIENT_REGISTER-WITH-EUREKA=false
      - EUREKA_CLIENT_FETCH-REGISTRY=false
    restart: on-failure
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # --- СЕРВЕР КОНФИГУРАЦИИ ---
  config-server:
    container_name: graduation-config-server
    build:
      context: ./infra/config-server
    environment:
      - SPRING_PROFILES_ACTIVE=native
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
    depends_on:
      discovery-server:
        condition: service_healthy
    restart: on-failure

  # --- СЕРВИС ПОЛЬЗОВАТЕЛЕЙ ---
  user-service:
    container_name: graduation-user-service
    build:
      context: ./core/user-service
    depends_on:
      postgres:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_started
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/user_db
      - SPRING_DATASOURCE_USERNAME=user_db
      - SPRING_DATASOURCE_PASSWORD=user_db
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - JAVA_OPTS=-Xms128m -Xmx256m
    restart: on-failure

  # --- СЕРВИС СОБЫТИЙ ---
  event-service:
    container_name: graduation-event-service
    build:
      context: ./core/event-service
    depends_on:
      postgres:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_started
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/event
      - SPRING_DATASOURCE_USERNAME=event
      - SPRING_DATASOURCE_PASSWORD=event
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - JAVA_OPTS=-Xms128m -Xmx512m
    restart: on-failure

  # --- СЕРВИС ЗАПРОСОВ ---
  request-service:
    container_name: graduation-request-service
    build:
      context: ./core/request-service
    depends_on:
      postgres:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_started
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/request_db
      - SPRING_DATASOURCE_USERNAME=request_db
      - SPRING_DATASOURCE_PASSWORD=request_db
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - JAVA_OPTS=-Xms128m -Xmx256m
    restart: on-failure

  # --- СЕРВИС СТАТИСТИКИ ---
  stats-server:
    container_name: graduation-stats-server
    build:
      context: ./stats/stats-server
    depends_on:
      postgres:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_started
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/stat
      - SPRING_DATASOURCE_USERNAME=stat
      - SPRING_DATASOURCE_PASSWORD=stat
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - JAVA_OPTS=-Xms128m -Xmx512m
    restart: on-failure

  # --- СЕРВИС КОММЕНТАРИЕВ ---
  comment-service:
    container_name: graduation-comment-service
    build:
      context: ./core/comment-service
    depends_on:
      postgres:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_started
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/comment_db
      - SPRING_DATASOURCE_USERNAME=comment_db
      - SPRING_DATASOURCE_PASSWORD=comment_db
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - JAVA_OPTS=-Xms128m -Xmx512m
    restart: on-failure

  # --- ШЛЮЗ (GATEWAY) ---
  gateway:
    container_name: graduation-gateway
    build:
      context: ./infra/gateway-server
    ports:
      - "8080:8080"
    depends_on:
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_started
      event-service:
        condition: service_started
      user-service:
        condition: service_started
      request-service:
        condition: service_started
      comment-service:
        condition: service_started
      stats-server:
        condition: service_started
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
    restart: on-failure