services:

  # --- НАСТРОЙКА KAFKA ---
  kafka:
    image: confluentinc/confluent-local:7.4.3
    hostname: kafka
    container_name: graduation-kafka
    ports:
      - "9092:9092" # for client connections
      - "9101:9101" # JMX
    restart: unless-stopped
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092'
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29093'
      KAFKA_LISTENERS: 'PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092'
      CLUSTER_ID: 'K0EA9p0yEe6MkAAAAkKsEg'

  kafka-init-topics:
    image: confluentinc/confluent-local:7.4.3
    container_name: graduation-kafka-init-topics
    depends_on:
      - kafka
    command: "bash -c \
                'echo 'Ожидание запуска Kafka...' &&
                cub kafka-ready -b kafka:29092 1 20 &&
                echo 'Kafka готова!' &&
                kafka-topics --create --topic stats.user-actions.v1 \
                             --partitions 1 --replication-factor 1 --if-not-exists \
                             --bootstrap-server kafka:29092 && \
                kafka-topics --create --topic stats.events-similarity.v1 \
                             --partitions 1 --replication-factor 1 --if-not-exists \
                             --bootstrap-server kafka:29092'"
    init: true

  # --- ДЕФОЛТНАЯ БД ---
  postgres:
    image: postgres:16.1
    container_name: graduation-postgres-db
    ports:
      - "6541:5432"
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    volumes:
      - ./init-databases.sql:/docker-entrypoint-initdb.d/init-databases.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d postgres" ]  # Проверка дефолтной БД
      timeout: 5s
      interval: 5s
      retries: 10

  # --- СЕРВЕР ДИСКАВЕРИ (EUREKA) ---
  discovery-server:
    container_name: graduation-discovery-server
    build:
      context: ./infra/discovery-server
    ports:
      - "8761:8761"
    environment:
      - EUREKA_CLIENT_REGISTER-WITH-EUREKA=false
      - EUREKA_CLIENT_FETCH-REGISTRY=false
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # --- СЕРВЕР КОНФИГУРАЦИИ ---
  config-server:
    container_name: graduation-config-server
    build:
      context: ./infra/config-server
    environment:
      - SPRING_PROFILES_ACTIVE=native
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
    depends_on:
      discovery-server:
        condition: service_healthy
    restart: unless-stopped

  # --- СЕРВИС ПОЛЬЗОВАТЕЛЕЙ ---
  user-service:
    container_name: graduation-user-service
    build:
      context: ./core/user-service
    depends_on:
      postgres:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_started
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/user_db
      - SPRING_DATASOURCE_USERNAME=user_db
      - SPRING_DATASOURCE_PASSWORD=user_db
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - JAVA_OPTS=-Xms128m -Xmx256m
    restart: unless-stopped

  # --- СЕРВИС СОБЫТИЙ ---
  event-service:
    container_name: graduation-event-service
    build:
      context: ./core/event-service
    depends_on:
      postgres:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_started
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/event
      - SPRING_DATASOURCE_USERNAME=event
      - SPRING_DATASOURCE_PASSWORD=event
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - JAVA_OPTS=-Xms128m -Xmx512m
    restart: unless-stopped

  # --- СЕРВИС ЗАПРОСОВ ---
  request-service:
    container_name: graduation-request-service
    build:
      context: ./core/request-service
    depends_on:
      postgres:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_started
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/request_db
      - SPRING_DATASOURCE_USERNAME=request_db
      - SPRING_DATASOURCE_PASSWORD=request_db
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - JAVA_OPTS=-Xms128m -Xmx256m
    restart: unless-stopped

  # --- СЕРВИС КОММЕНТАРИЕВ ---
  comment-service:
    container_name: graduation-comment-service
    build:
      context: ./core/comment-service
    depends_on:
      postgres:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_started
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/comment_db
      - SPRING_DATASOURCE_USERNAME=comment_db
      - SPRING_DATASOURCE_PASSWORD=comment_db
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - JAVA_OPTS=-Xms128m -Xmx512m
    restart: unless-stopped

  # --- ШЛЮЗ (GATEWAY) ---
  gateway:
    container_name: graduation-gateway
    build:
      context: ./infra/gateway-server
    ports:
      - "8080:8080"
    depends_on:
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_started
      event-service:
        condition: service_started
      user-service:
        condition: service_started
      request-service:
        condition: service_started
      comment-service:
        condition: service_started
      stats-server:
        condition: service_started
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
    restart: unless-stopped

  # --- СЕРВИС COLLECTOR статистики ---
  collector-service:
    build: ./stats/collector
    container_name: graduation-collector-service
    depends_on:
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
      kafka:
        condition: service_healthy
    restart: unless-stopped
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092

  # --- СЕРВИС AGGREGATOR статистики ---
  aggregator-service:
    build: ./stats/aggregator
    container_name: graduation-aggregator-service
    depends_on:
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
      kafka:
        condition: service_healthy
    restart: unless-stopped
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092

  # --- СЕРВИС ANALYZER статистики ---
  analyzer-service:
    build: ./stats/analyzer
    container_name: graduation-analyzer-service
    depends_on:
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
      kafka:
        condition: service_healthy
    restart: unless-stopped
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092