grpc:
  server:
    port: 0

spring:
  kafka:
    producer:
      topic:
        user-actions: stats.user-actions.v1
        events-similarity: stats.events-similarity.v1
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: ru.practicum.kafka.serializer.GeneralAvroSerializer
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  output:
    ansi:
      enabled: always

logging:
  level:
    org.springframework.cloud.loadbalancer: DEBUG
    com.netflix.discovery: DEBUG