server:
  port: 0

spring:
  output:
    ansi:
      enabled: always
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:6541/stat
    username: stat
    password: stat

logging:
  level:
    root: WARN
    org.springframework.cloud.loadbalancer: WARN
    com.netflix.discovery: WARN