server:
  port: 0

spring:
  output:
    ansi:
      enabled: always
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:6541/event
    username: event
    password: event

logging:
  level:
    org.springframework.cloud.loadbalancer: DEBUG
    com.netflix.discovery: DEBUG
    springframework.cloud.openfeign: DEBUG
    feign: DEBUG
    request.service.controller: DEBUG
    org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: DEBUG
    org.springframework.web.servlet.DispatcherServlet: DEBUG
    event.service: DEBUG